---
- name: Clone jkcode repo
  ansible.builtin.git:
    repo: git@github.com:after-ephemera/jkcode.git
    dest: "{{ ansible_env.HOME }}/dev/jkcode"
    version: master
    force: true
  tags: [dotfiles]

- name: Check if nvim init.lua exists
  ansible.builtin.stat:
    path: "{{ ansible_env.HOME }}/.config/nvim/init.lua"
  register: nvim_init_lua_stat
  changed_when: false
  tags: [dotfiles]

- name: Install dotfiles
  command: "{{ ansible_env.HOME }}/dev/jkcode/setup_env"
  # only do this once
  when: not nvim_init_lua_stat.stat.exists
  tags: [dotfiles]